<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<packageSources>
		<clear />
		<add key="nuget" value="https://api.nuget.org/v3/index.json" />
		<add key="dotnet8" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet8/nuget/v3/index.json" />
	</packageSources>
	
	<!-- Documentation: https://learn.microsoft.com/en-gb/nuget/consume-packages/package-source-mapping-->
	<packageSourceMapping>
		<packageSource key="dotnet8">
			<!-- Documentation: https://github.com/dotnet/aspire/blob/main/docs/using-latest-daily.md -->
			<package pattern="Aspire.*" />
			<package pattern="Microsoft.Extensions.ServiceDiscovery*" />
			<package pattern="Microsoft.Runtime.Caching*" />
		</packageSource>
		<packageSource key="nuget">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
	
</configuration>